<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Which-of-these-crops-were-produced-during-the-Autumn-season?-(select-option-with-all-that-apply)" data-toc-modified-id="Which-of-these-crops-were-produced-during-the-Autumn-season?-(select-option-with-all-that-apply)-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Which of these crops were produced during the Autumn season? (select option with all that apply)</a></span></li><li><span><a href="#During-which-year,-Uttar-Pradesh-had-the-highest-crop-production?" data-toc-modified-id="During-which-year,-Uttar-Pradesh-had-the-highest-crop-production?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>During which year, Uttar Pradesh had the highest crop production?</a></span></li><li><span><a href="#The-maximum-and-minimum-area-used-for-production-were-in-the-years-__" data-toc-modified-id="The-maximum-and-minimum-area-used-for-production-were-in-the-years-__-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>The maximum and minimum area used for production were in the years __</a></span></li><li><span><a href="#Which-state-in-India-had-the-lowest-crop-production?-(overall,-for-all-years)" data-toc-modified-id="Which-state-in-India-had-the-lowest-crop-production?-(overall,-for-all-years)-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Which state in India had the lowest crop production? (overall, for all years)</a></span></li><li><span><a href="#What-were-the-top-three-produced-crops-in-the-year-2015?" data-toc-modified-id="What-were-the-top-three-produced-crops-in-the-year-2015?-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>What were the top three produced crops in the year 2015?</a></span></li><li><span><a href="#What-is-the-standard-deviation-for-Area-of-production?" data-toc-modified-id="What-is-the-standard-deviation-for-Area-of-production?-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>What is the standard deviation for Area of production?</a></span></li><li><span><a href="#Which-is-the-crop-that-gave-highest-production-to-the-state-Madhya-Pradesh?" data-toc-modified-id="Which-is-the-crop-that-gave-highest-production-to-the-state-Madhya-Pradesh?-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Which is the crop that gave highest production to the state Madhya Pradesh?</a></span></li><li><span><a href="#Which-of-the-following-statements-is-true?-(Select-all-that-applies)" data-toc-modified-id="Which-of-the-following-statements-is-true?-(Select-all-that-applies)-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Which of the following statements is true? (Select all that applies)</a></span></li><li><span><a href="#Which-state-had-the-highest-area-of-production?" data-toc-modified-id="Which-state-had-the-highest-area-of-production?-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Which state had the highest area of production?</a></span></li><li><span><a href="#What-is-the-mean-for-area-of-production?" data-toc-modified-id="What-is-the-mean-for-area-of-production?-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>What is the mean for area of production?</a></span></li><li><span><a href="#What-is-the-correlation-coefficient-between-Area-and-Production?" data-toc-modified-id="What-is-the-correlation-coefficient-between-Area-and-Production?-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>What is the correlation coefficient between Area and Production?</a></span></li><li><span><a href="#The-crops-that-had-the-highest-production-(in-the-correct-order)-were?" data-toc-modified-id="The-crops-that-had-the-highest-production-(in-the-correct-order)-were?-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>The crops that had the highest production (in the correct order) were?</a></span></li><li><span><a href="#Which-is-the-only-crop-that-had-the-highest-production-during-the-autumn,-summer-and-winter-seasons?" data-toc-modified-id="Which-is-the-only-crop-that-had-the-highest-production-during-the-autumn,-summer-and-winter-seasons?-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Which is the only crop that had the highest production during the autumn, summer and winter seasons?</a></span></li><li><span><a href="#REGRESSION" data-toc-modified-id="REGRESSION-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>REGRESSION</a></span></li><li><span><a href="#END-OF-SCRIPT" data-toc-modified-id="END-OF-SCRIPT-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>END OF SCRIPT</a></span></li></ul></div>

In [2]:
import pandas as pd       # To work with dataframes
import numpy as np        # Perform numerical operations
import seaborn as sns     # Required for data visualization
from sklearn.model_selection import train_test_split     # Required for dividing data into train and test set
from sklearn.linear_model import LogisticRegression      # Import library for Logistic Regression
from sklearn.metrics import accuracy_score, confusion_matrix  # Import performance matrix

In [9]:
data = pd.read_csv('apy1.csv')

In [10]:
data.isnull().sum()

State_Name          0
District_Name       0
Crop_Year           0
Season              0
Crop                0
Area                0
Production       3730
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   State_Name     246091 non-null  object
 1   District_Name  246091 non-null  object
 2   Crop_Year      246091 non-null  int64
 3   Season         246091 non-null  object
 4   Crop           246091 non-null  object
 5   Area           246091 non-null  float64
 6   Production     242361 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 9.4+ MB

In [12]:
data1 = data.dropna(axis = 0)

In [13]:
data1.isnull().sum()

State_Name       0
District_Name    0
Crop_Year        0
Season           0
Crop             0
Area             0
Production       0
dtype: int64

In [14]:
pd.set_option('display.float_format', lambda x: '%.3f' %x)

In [15]:
data1.describe()

       Crop_Year        Area     Production
count 242361.000  242361.000     242361.000
mean    2005.626   12167.414     582503.442
std        4.958   50857.440   17065813.172
min     1997.000       0.100          0.000
25%     2002.000      87.000         88.000
50%     2006.000     603.000        729.000
75%     2010.000    4545.000       7023.000
max     2015.000 8580100.000 1250800000.000

### Which of these crops were produced during the Autumn season? (select option with all that apply)

In [16]:
d1=data1.pivot_table(index=['Crop'],columns=['Season'],values = ['Production'],aggfunc='sum')

In [17]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

<ipython-input-17-1390d13c0cdd>:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [18]:
d11= d1.iloc[:, d1.columns.get_level_values(1)== 'Autumn     ']

In [19]:
d12 = d11.dropna(axis=0)

In [20]:
d12

                        Production
Season                 Autumn
Crop
Arhar/Tur             6487.000
Banana                16460.000
Cotton(lint)          20.000
Dry chillies          30790.000
Dry ginger            590.000
Groundnut             386670.700
Jowar                 28.000
Jute                  441559.900
Maize                 8933033.650
Moong(Green Gram)     70298.700
Onion                 120.000
Paddy                 2034745.000
Peas & beans (Pulses) 430.000
Potato                1670.000
Ragi                  496919.580
Rice                  51853755.540
Sannhamp              7810.000
Sesamum               18429.800
Small millets         2120.000
Soyabean              320.000
Sugarcane             13742.950
Sweet potato          180.000
Tapioca               130.000
Turmeric              70.000
Urad                  97387.400

### During which year, Uttar Pradesh had the highest crop production?

In [26]:
d2=data1.pivot_table(index=['Crop_Year'],columns=['State_Name'],values = ['Production'],aggfunc='sum')

In [27]:
d2['Production','Uttar Pradesh'].nlargest(2)

Crop_Year
2013   207615192.000
2012   205230988.000
Name: (Production, Uttar Pradesh), dtype: float64

### The maximum and minimum area used for production were in the years __

In [33]:
d3=data1.pivot_table(index=['Crop_Year'],values = ['Area'],aggfunc='sum')

In [34]:
d3['Area'].nlargest()

Crop_Year
1997   231715046.000
2010   176601791.780
2008   170952985.000
2006   170588792.650
2003   169765517.540
Name: Area, dtype: float64

In [35]:
d3['Area'].nsmallest()

Crop_Year
2015   4600298.000
2014   115743065.290
2013   141501896.290
2012   151698291.000
2007   152688604.300
Name: Area, dtype: float64

### Which state in India had the lowest crop production? (overall, for all years)

In [36]:
d4=data1.pivot_table(index=['State_Name'],values = ['Production'],aggfunc='sum')

In [37]:
d4['Production'].nlargest()

State_Name
Kerala           97880045375.700
Andhra Pradesh   17324590296.000
Tamil Nadu       12076443048.930
Uttar Pradesh    3234492662.700
Assam            2111751759.000
Name: Production, dtype: float64

In [38]:
d4['Production'].nsmallest()

State_Name
Chandigarh               63956.500
Mizoram                  1661539.830
Dadra and Nagar Haveli   1847871.000
Sikkim                   2435735.000
Manipur                  5230917.000
Name: Production, dtype: float64

### What were the top three produced crops in the year 2015?

In [39]:
d5=data1.pivot_table(index=['Crop'],columns=['Crop_Year'],values = ['Production'],aggfunc='sum')

In [41]:
d5['Production',2015].nlargest(3)

Crop
Rice        5893687.000
Sugarcane   577157.200
Maize       179286.900
Name: (Production, 2015), dtype: float64

### What is the standard deviation for Area of production?

In [42]:
data.describe()

       Crop_Year        Area     Production
count 246091.000 246091.000  242361.000
mean  2005.643   12002.821   582503.442
std   4.952      50523.404   17065813.172
min   1997.000   0.040       0.000
25%   2002.000   80.000      88.000
50%   2006.000   582.000     729.000
75%   2010.000   4392.000    7023.000
max   2015.000   8580100.000 1250800000.000

In [43]:
data1.describe()

       Crop_Year        Area     Production
count 242361.000 242361.000  242361.000
mean  2005.626   12167.414   582503.442
std   4.958      50857.440   17065813.172
min   1997.000   0.100       0.000
25%   2002.000   87.000      88.000
50%   2006.000   603.000     729.000
75%   2010.000   4545.000    7023.000
max   2015.000   8580100.000 1250800000.000

### Which is the crop that gave highest production to the state Madhya Pradesh?

In [44]:
d6=data1.pivot_table(index=['Crop'],columns=['State_Name'],values = ['Production'],aggfunc='sum')

In [45]:
d6['Production','Madhya Pradesh'].nlargest(3)

Crop
Wheat      147153856.000
Soyabean   85273955.000
Gram       39030407.000
Name: (Production, Madhya Pradesh), dtype: float64

### Which of the following statements is true? (Select all that applies)

In [46]:
d7 =data1.pivot_table(index=['Season'],values = ['Production'],aggfunc='sum')

In [47]:
d7

                  Production
Season
Autumn      64413768.220
Kharif      4029970242.700
Rabi        2051687553.080
Summer      170657925.030
Whole Year  134424837450.190
Winter      434549828.170

### Which state had the highest area of production?

In [50]:
d8 =data1.pivot_table(index=['State_Name'],values = ['Area'],aggfunc='sum')

In [52]:
d8['Area'].nlargest(3)

State_Name
Uttar Pradesh    433622332.000
Madhya Pradesh   329791261.000
Maharashtra      322186037.000
Name: Area, dtype: float64

### What is the mean for area of production?

In [53]:
data1.describe()

       Crop_Year        Area     Production
count 242361.000 242361.000  242361.000
mean  2005.626   12167.414   582503.442
std   4.958      50857.440   17065813.172
min   1997.000   0.100       0.000
25%   2002.000   87.000      88.000
50%   2006.000   603.000     729.000
75%   2010.000   4545.000    7023.000
max   2015.000   8580100.000 1250800000.000

### What is the correlation coefficient between Area and Production?

In [54]:
correlation = data1.corr()

In [55]:
correlation

            Crop_Year   Area  Production
Crop_Year  1.000      -0.025 0.007
Area       -0.025     1.000  0.041
Production 0.007      0.041  1.000

### The crops that had the highest production (in the correct order) were?

In [56]:
d9 =data1.pivot_table(index=['Crop'],values = ['Production'],aggfunc='sum')

In [59]:
d9['Production'].nlargest(6)

Crop
Coconut        129981629216.290
Sugarcane      5535681525.920
Rice           1605470383.370
Wheat          1332825656.800
Potato         424826343.860
Cotton(lint)   297000015.700
Name: Production, dtype: float64

### Which is the only crop that had the highest production during the autumn, summer and winter seasons?

In [62]:
d10 =data1.pivot_table(index=['Crop'],columns = ['Season'], values = ['Production'],aggfunc='sum')

In [63]:
d10.columns

MultiIndex([('Production', 'Autumn     '),
            ('Production', 'Kharif     '),
            ('Production', 'Rabi       '),
            ('Production', 'Summer     '),
            ('Production', 'Whole Year '),
            ('Production', 'Winter     ')],
           names=[None, 'Season'])

In [67]:
d10['Production','Autumn     '].nlargest()

Crop
Rice    51853755.540
Maize   8933033.650
Paddy   2034745.000
Ragi    496919.580
Jute    441559.900
Name: (Production, Autumn     ), dtype: float64

In [68]:
d10['Production','Summer     '].nlargest()

Crop
Rice        127702773.530
Maize       13924212.200
Bajra       7436768.000
Groundnut   6827896.600
Paddy       5110559.000
Name: (Production, Summer     ), dtype: float64

In [69]:
d10['Production','Winter     '].nlargest()

Crop
Rice        381569485.450
Paddy       19318040.000
Potato      16102739.020
Sugarcane   16017238.700
Urad        369635.900
Name: (Production, Winter     ), dtype: float64

### REGRESSION

In [70]:
col = ['State_Name','District_Name','Crop_Year','Season','Crop']

In [71]:
data2 = data1.drop(columns = col, axis =1)

In [72]:
from sklearn.model_selection import train_test_split     # Required for dividing data into train and test set
from sklearn.linear_model import LinearRegression      # Import library for Linear Regression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [73]:
x2 = data2['Area']
y2 = data2['Production']

In [74]:
import numpy as np

In [75]:
train_x,test_x,train_y,test_y = train_test_split(x2,y2,test_size=0.3,random_state=42)
print(train_x.shape,test_x.shape,train_y.shape,test_y.shape)

(169652,) (72709,) (169652,) (72709,)

In [76]:
train_x = train_x.values.reshape(-1,1)
train_y = train_y.values.reshape(-1,1)

In [77]:
test_x= test_x.values.reshape(-1,1)

In [78]:
test_y= test_y.values.reshape(-1,1)

In [79]:
base_pred = np.mean(test_y)
base_pred = np.repeat(base_pred, len(test_y))
base_pred

array([627815.30960775, 627815.30960775, 627815.30960775, ...,
       627815.30960775, 627815.30960775, 627815.30960775])

In [80]:
base_RMSE = np.sqrt(mean_squared_error(test_y,base_pred))
print(base_RMSE)

18547444.718332194

In [81]:
lgr = LinearRegression(fit_intercept = True)
model_lin1 = lgr.fit(train_x,train_y)
nyc_pred = lgr.predict(test_x) 
lin_MSE = mean_squared_error(test_y,nyc_pred)
lin_RMSE = np.sqrt(lin_MSE)
print(lin_RMSE)

18529629.51147644

In [82]:
print(lin_MSE)

343347169832578.56

In [83]:
from sklearn.metrics import mean_absolute_error

In [84]:
mae=mean_absolute_error(test_y,nyc_pred)

In [85]:
print(mae)

1121707.916712476

### END OF SCRIPT