In [1]:
a = 11
b = a*10

In [2]:
print("a = ",a,"\n","b = ",b)

a =  11
 b =  110

In [3]:
type(a)

int

In [4]:
type(b) is float

False

In [5]:
b = float(b)

In [6]:
type(b) is float

True

In [7]:
print("a = ",a,"\n","b = ",b)

a =  11
 b =  110.0

### This is a Demo Session

#### You can add narrative text and description

Letter "a" will add a cell above and letter "b" will add a cell below & letter "x" to delete a cell

##### Sequence data types - Strings - Immutable data types in Python

In [8]:
strsample = "learning"

In [9]:
print(strsample)                         # Sequence of characters

learning

##### Sequence data types - Lists - Sequence placed within square brackets - Mutable even after their creation

In [10]:
lstnumber = [1,2,3,3,3,4,5]
print(lstnumber)

[1, 2, 3, 3, 3, 4, 5]

In [11]:
lstnumber[0]

1

In [12]:
lstnumber1 = [1,2,"a","sam",2]             # We can have elements of multiple datatypes
print(lstnumber1)

[1, 2, 'a', 'sam', 2]

##### Sequence data types - Arrays - Items are stored in contiguous memory locations

In [13]:
from array import *
arrsample = array('i',[1,2,3,4])                    # As 1st argument we have defined the datatype & as 2nd values as list
for x in arrsample:
    print(x)

1
2
3
4

In [14]:
from array import *
arrsample = array('i',[1,2,3,4])                    # As 1st argument we have defined the datatype & as 2nd values as list
for x in arrsample: print(x,end =" , ")             # A space and comma gets added

1 , 2 , 3 , 4 ,

In [15]:
print(arrsample)                                   # This is a 1D array

array('i', [1, 2, 3, 4])

##### Sequence data types - Tuples - Same as list but Immutable - Created with or without parenthesis

In [16]:
tupsamp = 1,2,"py"                           # This is called Tuple Packing, where () isn't used for creation
print(tupsamp)

(1, 2, 'py')

##### Sequence data types - Dictonaries - Key value pairs of elements

In [17]:
dictsamp = {1: "first", 2: "second", 3:3, "four": 4}    # We need to have unique keys but can have duplicated values

In [18]:
print(dictsamp)

{1: 'first', 2: 'second', 3: 3, 'four': 4}

In [19]:
dict1 = dict({("first",1),("second",2),("third",3)})

In [20]:
print(dict1)

{'second': 2, 'third': 3, 'first': 1}

##### Sequence data types - Sets - List can't be an element of a set. Also set can't be an element of a set

In [21]:
set1 = {"example",2.3,'data',24}                # set function can be used to create an empty set, 
print(set1)

{2.3, 24, 'data', 'example'}

In [22]:
set1.add("orange")

In [23]:
print(set1)

{'example', 2.3, 'orange', 'data', 24}

In [24]:
type(set1)

set

In [25]:
set('example')                    # returns its elements - String used within Set function

{'a', 'e', 'l', 'm', 'p', 'x'}

In [26]:
set([1,2,3])                          # List used within Set function

{1, 2, 3}

In [27]:
set((4,5,6))                            # Tuple used within Set function

{4, 5, 6}

In [28]:
set1

{2.3, 24, 'data', 'example', 'orange'}

##### Sequence data types - Range - (Start, Stop, Stepsize)

In [29]:
range1 = range(1,20,2)
for x in range1: print(x, end =" ")

1 3 5 7 9 11 13 15 17 19

#### Indexing Strings
#### Indexing is applicable for ordered sequences

In [30]:
strsamp = 'learning'                     # wE CAN MENTION THE SUBSTRING ELEMENT IN () OR THE INDEX OF THE ELEMENT IN []

In [31]:
strsamp.index('l')

0

In [32]:
strsamp.index('ing')

5

In [33]:
strsamp[7]

'g'

In [34]:
strsamp[-2]

'n'

In [35]:
strsamp[0:7]

'learnin'

In [36]:
strsamp[::-1]

'gninrael'

In [37]:
for char in strsamp: print(char,end=" ")

l e a r n i n g

In [38]:
len(strsamp)

8

In [39]:
for i in range(len(strsamp)):
    print(strsamp[i])

l
e
a
r
n
i
n
g

#### Indexing Lists

In [40]:
lsts1 = [1,2,'a','sam',2]

In [41]:
lsts1.index('sam')

3

In [42]:
lsts1[2]

'a'

In [43]:
lsts1[-1]

2

In [44]:
for i in range(len(lsts1)):
    lsts1
print(lsts1)

[1, 2, 'a', 'sam', 2]

In [45]:
for i in range(len(lsts1)):
    print(lsts1[i])

1
2
a
sam
2

In [46]:
for i in range(len(lsts1)):
    print(i)

0
1
2
3
4

In [47]:
lsts1[:]

[1, 2, 'a', 'sam', 2]

In [48]:
lsts1[0:3]

[1, 2, 'a']

In [49]:
lsts1[:4]

[1, 2, 'a', 'sam']

In [50]:
lsts1[4] = 3      # Indicates that Lists are mutable

In [51]:
lsts1[::-1]

[3, 'sam', 'a', 2, 1]

In [52]:
lsts1 + lsts1[::-1]

[1, 2, 'a', 'sam', 3, 3, 'sam', 'a', 2, 1]

#### Indexing Array

In [53]:
from array import *

In [54]:
arrs1 = array('i',[1,2,3,4])

In [55]:
print(arrs1)

array('i', [1, 2, 3, 4])

In [56]:
for i in arrs1:
    print(i)

1
2
3
4

In [57]:
arrs1[1]

2

In [58]:
arrs1[1] = 200  # Indicates that arrays are mutable

In [59]:
arrs1[-1]

4

In [60]:
arrs1[::-1]

array('i', [4, 3, 200, 1])

#### Indexing Tuple

In [61]:
tups1 = (1,2,3,4,3,'py')

In [62]:
tups1.index('py')

5

In [63]:
tups1[-1]

'py'

In [64]:
tups1[-1] = yp    # Indicates that tuples are immutable

NameError: name 'yp' is not defined

#### Indexing Sets

In [65]:
set1 = {"example",2.3,'data',24}

In [66]:
print(set1)

{2.3, 24, 'data', 'example'}

In [67]:
set1[3]   # Indexing operation can't be performed on a set as it holds non sequential data

TypeError: 'set' object is not subscriptable

In [68]:
set1.index['data'] # Indexing operation can't be performed on a set as it holds non sequential data

AttributeError: 'set' object has no attribute 'index'

#### Indexing Dictionary

In [69]:
print(dictsamp)

{1: 'first', 2: 'second', 3: 3, 'four': 4}

In [70]:
## Value in a dictionary is indexed by keys and not by any index although it is container for non-sequential data

In [71]:
dictsamp[1]                 # Value w.r.to key1

'first'

In [72]:
dictsamp['four']            # Value w.r.to key4

4

### Indexing Range

In [73]:
print(range1)

range(1, 20, 2)

In [74]:
for i in range1: print(i)

1
3
5
7
9
11
13
15
17
19

In [75]:
range1.index(17)

8

In [76]:
range1[7]

15

In [77]:
range1[7] = 16   # Indicates that Range are immutable

TypeError: 'range' object does not support item assignment

#### SLICING

In [78]:
print(strsamp)

learning

In [79]:
strsamp[slice(1,4,2)]              # Start, Stop and Step Size

'er'

In [80]:
strsamp[slice(1,4)]

'ear'

In [81]:
strsamp[:]

'learning'

In [82]:
strsamp[: :-1]

'gninrael'

In [83]:
strsamp +"-"+ strsamp[: :-1]

'learning-gninrael'

In [84]:
print(lsts1)

[1, 2, 'a', 'sam', 3]

In [85]:
lsts1[:3]

[1, 2, 'a']

In [86]:
lsts1[2:]

['a', 'sam', 3]

In [88]:
lsts1[2:4:1]

['a', 'sam']

In [91]:
# Slicing function won't be applicable for dictionaries and sets

In [92]:
arrs1 = array('i',[1,2,3,4])
arrs1[:]

array('i', [1, 2, 3, 4])

In [93]:
arrs1[1:]

array('i', [2, 3, 4])

In [94]:
arrs1[::-1]

array('i', [4, 3, 2, 1])

In [104]:
for i in range1: 
    print(range1[1:-1])

range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)
range(3, 19, 2)

#### Concatenation

In [105]:
print(strsamp)

learning

In [113]:
strsamp+' '+'python'

'learning python'

In [115]:
print(strsamp)      # Strings are immutable, thus we have to store the operations to a new variable to reflect the changes

learning

In [116]:
strsamp12 = strsamp + ' '+ 'python'

In [117]:
print(strsamp12)

learning python

In [106]:
print(strsamp+' '+'python')

learning python

In [107]:
print(lsts1)

[1, 2, 'a', 'sam', 3]

In [108]:
lsts1+['py']

[1, 2, 'a', 'sam', 3, 'py']

In [109]:
type(lsts1)

list

In [110]:
help(lsts1.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [111]:
lsts1.append(3)

In [112]:
lsts1

[1, 2, 'a', 'sam', 3, 3]

In [118]:
lsts1 = lsts1+['py']

In [119]:
lsts1

[1, 2, 'a', 'sam', 3, 3, 'py']

In [120]:
tups1 += ('th','on')

In [121]:
tups1

(1, 2, 3, 4, 3, 'py', 'th', 'on')

In [122]:
set1 = set1,4

In [123]:
set1

({2.3, 24, 'data', 'example'}, 4)

In [124]:
lsts1

[1, 2, 'a', 'sam', 3, 3, 'py']

In [125]:
lsts1*2

[1, 2, 'a', 'sam', 3, 3, 'py', 1, 2, 'a', 'sam', 3, 3, 'py']

In [126]:
lsts1[1] *=2

In [127]:
lsts1

[1, 4, 'a', 'sam', 3, 3, 'py']

In [128]:
for i in range(len(lsts1)):
    lsts1[i] *=2
    print(lsts1[i])

2
8
aa
samsam
6
6
pypy

In [129]:
tups1

(1, 2, 3, 4, 3, 'py', 'th', 'on')

In [131]:
tups1[2:4]*2

(3, 4, 3, 4)

#### String Methods

In [143]:
str1 = "learning is fun"

In [144]:
str1.capitalize()      # All of the methods return new values however they don't change original string

'Learning is fun'

In [145]:
str1

'learning is fun'

In [146]:
str1.casefold()

'learning is fun'

In [138]:
str1.title()

'Learning Is Fun'

In [139]:
str1.casefold()

'learning is fun'

In [140]:
str1.swapcase()

'LEARNING IS FUN'

In [141]:
str1.find('n')

4

In [147]:
str1.find('b')

-1

In [148]:
str1.count('n')

3

In [149]:
str1.replace('fun', 'joyful')

'learning is joyful'

In [150]:
str1.isalnum()

False

In [151]:
n1 = 'GITAA '
n2 = 'Pvt'
n3 = 'Ltd'

In [154]:
name = '{} {}.{}.'.format(n1,n2,n3) # Curly braces{} are the placeholders and n1,n2,n3 are the parameters

In [155]:
print(name)

GITAA  Pvt.Ltd.

In [156]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [164]:
print(help(name.isalnum))

Help on built-in function isalnum:

isalnum() method of builtins.str instance
    Return True if the string is an alpha-numeric string, False otherwise.

    A string is alpha-numeric if all characters in the string are alpha-numeric and
    there is at least one character in the string.

None

In [157]:
print(help(str))

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

In [158]:
print(help(str.find))

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

None

In [159]:
lsts1

[2, 8, 'aa', 'samsam', 6, 6, 'pypy']

In [167]:
len(lsts1)

7

In [160]:
lsts1.reverse()

In [161]:
lsts1

['pypy', 6, 6, 'samsam', 'aa', 8, 2]

In [177]:
# clear() method removes all items from the object [List, Dictionary and Sets]

In [162]:
set1

({2.3, 24, 'data', 'example'}, 4)

In [163]:
type(set1)

tuple

In [189]:
set2 = {2.3, 24, 'data', 'example'}

In [190]:
set2.add(200)

In [191]:
print(set2)

{'example', 2.3, 200, 'data', 24}

In [192]:
type(set2)

set

In [197]:
set2.update([50,60])      # Helps in adding multiple values passed as a list

In [198]:
set2

{2.3, 200, 24, 50, 60, 'data', 'example'}

#### Dictionary Methods

In [201]:
dictsamp

{1: 'first', 2: 'second', 3: 3, 'four': 4, 'five': 5, 'six': 60, 'seven': 7}

In [202]:
dictsamp["seven"] = 7

In [203]:
dictsamp.update(five = 5)

In [204]:
dictsamp

{1: 'first', 2: 'second', 3: 3, 'four': 4, 'five': 5, 'six': 60, 'seven': 7}

In [205]:
dictsamp['six'] = 60

In [206]:
dictsamp

{1: 'first', 2: 'second', 3: 3, 'four': 4, 'five': 5, 'six': 60, 'seven': 7}

In [207]:
list(dictsamp)

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [208]:
len(dictsamp)

7

In [209]:
dictsamp.get('five')

5

In [210]:
dictsamp.keys()

dict_keys([1, 2, 3, 'four', 'five', 'six', 'seven'])

In [211]:
dictsamp.items()

dict_items([(1, 'first'), (2, 'second'), (3, 3), ('four', 4), ('five', 5), ('six', 60), ('seven', 7)])

In [181]:
lsts1

['pypy', 6, 6, 'samsam', 'aa', 8, 2]

In [182]:
lsts1.insert(2,100)

In [183]:
print(lsts1)

['pypy', 6, 100, 6, 'samsam', 'aa', 8, 2]

#### Insert [Arrays & Lists]

In [217]:
arrs1

array('i', [1, 100, 100, 2, 3, 4])

In [218]:
arrs1.insert(1,100)      # 100 is being inserted at Index[1]

In [220]:
arrs1      # Operation has been carried out thrice hence 100 got inserted 3 times

array('i', [1, 100, 100, 100, 2, 3, 4])

In [221]:
lsts1

['pypy', 6, 100, 6, 'samsam', 'aa', 8, 2]

In [222]:
lsts1.insert(5,100)

In [223]:
lsts1

['pypy', 6, 100, 6, 'samsam', 100, 'aa', 8, 2]

#### pop()

In [225]:
arrs1

array('i', [1, 100, 100, 100, 2, 3])

In [226]:
arrs1.pop()    # Last element gets removed

3

In [233]:
arrs1.insert(6,60)

In [236]:
arrs1.insert(7,60)

In [237]:
arrs1

array('i', [1, 100, 100, 100, 2, 60, 60])

In [239]:
arrs1.pop(6)

60

In [240]:
dictsamp

{1: 'first', 2: 'second', 3: 3, 'four': 4, 'five': 5, 'seven': 7}

In [241]:
dictsamp.pop('seven')     # Remove a Key from a Dictionary

7

In [242]:
arrs1

array('i', [1, 100, 100, 100, 2, 60])

#### pop method won't be applicable for Sets since it is unordered sequence

#### Remove method removes the first occurrence of the element with the specified value

In [245]:
arrs1

array('i', [1, 100, 100, 100, 2, 60])

In [246]:
arrs1.remove(100)

In [247]:
arrs1

array('i', [1, 100, 100, 2, 60])

In [248]:
set2

{2.3, 200, 24, 50, 60, 'data', 'example'}

In [250]:
set2.remove(3)      # Element is not there in the Set

KeyError: 3

In [252]:
set2.discard(3)  # With discard method we don't get error even if the element isn't present

In [253]:
set2.discard('data')

In [254]:
set2

{2.3, 200, 24, 50, 60, 'example'}

#### del method deletes the entire object of any data type

In [256]:
set4 = {2.3, 200, 24, 50, 60, 'data', 'example'}

In [257]:
set4

{2.3, 200, 24, 50, 60, 'data', 'example'}

In [260]:
del set4

In [265]:
set4      # Entire object is deleted

NameError: name 'set4' is not defined

In [262]:
set5 = {2.3, 200, 24, 50, 60, 'data', 'example'}

In [263]:
set5.clear()

In [264]:
set5

set()

In [269]:
list12 = [2.3, 200, 24, 50, 60, 'data', 'example']

In [271]:
del list12[1:3]     # Elements with specified index 1 and 2 i.e: 200 & 24 gets deleted

In [272]:
list12

[2.3, 50, 60, 'data', 'example']

#### extend method

In [273]:
arrs1

array('i', [1, 100, 100, 2, 60])

In [274]:
arrs1.extend((7,8,9))

In [275]:
arrs1

array('i', [1, 100, 100, 2, 60, 7, 8, 9])

In [276]:
arrs1.fromlist([10,11])

In [277]:
arrs1

array('i', [1, 100, 100, 2, 60, 7, 8, 9, 10, 11])

#### List Operations

In [278]:
list3 = arrs1.tolist()

In [279]:
list3

[1, 100, 100, 2, 60, 7, 8, 9, 10, 11]

#### Set Operations

In [280]:
set1

({2.3, 24, 'data', 'example'}, 4)

In [282]:
type(set1)

tuple

In [281]:
set2

{2.3, 200, 24, 50, 60, 'example'}

In [283]:
set3 = {24,87.5}

In [284]:
set2|set3        # Union of two sets

{2.3, 200, 24, 50, 60, 87.5, 'example'}

In [285]:
set2&set3       # Intersection of two sets

{24}

In [286]:
set2.intersection(set3)    # Intersection of two sets

{24}

In [287]:
set2.union(set3 )      # Union of two sets

{2.3, 200, 24, 50, 60, 87.5, 'example'}