## Data Types - Sequential and Non- Sequential
## String Data Type - Immutable
### Enclosed between Single, Double or Tripple quotes

In [3]:
strsamp = "learning"

In [4]:
print(strsamp)

learning

In [18]:
type(strsamp) is str

True

## List Data Type - Can have duplicate values with mixed data types
### Mutable - Hence they can be altered even after creation

In [5]:
lstnum = [1,2,3,3,3,4,5]

In [6]:
print(lstnum)

[1, 2, 3, 3, 3, 4, 5]

In [7]:
lstsamp = [1,2,"a",'sam',2]

In [9]:
print(lstsamp)

[1, 2, 'a', 'sam', 2]

In [19]:
type(lstsamp)

list

## Array - List of objects with same data types - Mutable
### Created using array module from array package

In [12]:
from array import *
arrsamp = array('i',[1,2,3,4])

In [13]:
arrsamp

array('i', [1, 2, 3, 4])

In [14]:
for x in arrsamp: print(x)

1
2
3
4

In [15]:
print(arrsamp)

array('i', [1, 2, 3, 4])

In [17]:
type(arrsamp)

array.array

In [20]:
arrsamp1 = array('f',[5,6,7,8])

In [21]:
for x in arrsamp1: print(x)

5.0
6.0
7.0
8.0

##  Tuple - Data Type - Same as Lists however they are Immutable
### Can be of mixed data types. Can be created without parantheses - Tuple Packing

In [27]:
tupsamp = (1,2,3,4,'py')

In [28]:
print(tupsamp)

(1, 2, 3, 4, 'py')

In [25]:
tupsamp1 = 3,4,5,'python'

In [26]:
print(tupsamp1)

(3, 4, 5, 'python')

## Dictionary Data Type - Mutable- Key Value Pair
### Values can be duplicated but Keys need to be unique

In [29]:
dictsamp = {1:'first', 2: "second", 'third':3, "fourth" : 4}

In [30]:
print(dictsamp)

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4}

In [31]:
 dictsamp1 = dict([('first',1),('second',2),('third',3),(4,'fourth')])

In [32]:
print(dictsamp1)

{'first': 1, 'second': 2, 'third': 3, 4: 'fourth'}

## Set Data Type - Mutable - Order is Undefined
### Immutable data type can be element of Set - Duplicate elements are removed
### List or sets can't be element of a set itself

In [33]:
setsamp = {'example',24,87.5,'data',24,"data"}

In [34]:
print(setsamp)

{24, 'example', 'data', 87.5}

### When using set func. we need to pass list, tuple or string as parameters

In [35]:
set('example')

{'a', 'e', 'l', 'm', 'p', 'x'}

## Range Data Type - Performs actions for specific number of times

In [36]:
rangsamp = range(1,12,2)

In [37]:
print(rangsamp)

range(1, 12, 2)

In [38]:
for x in rangsamp: print(x)

1
3
5
7
9
11

## Operations on various Data Types

## Strings - Indexing [ Index starts from Zero]

In [39]:
strsamp

'learning'

In [40]:
strsamp.index('ing')

5

In [41]:
strsamp[7]

'g'

In [42]:
strsamp[-1]

'g'

In [43]:
strsamp[-2]

'n'

In [44]:
strsamp[1:7:1]

'earnin'

In [45]:
strsamp[:]

'learning'

In [46]:
strsamp[::-1]

'gninrael'

## List - Indexing

In [48]:
lstsamp

[1, 2, 'a', 'sam', 2]

In [49]:
lstsamp.index('sam')

3

In [50]:
lstsamp[3]

'sam'

In [51]:
lstsamp[:]

[1, 2, 'a', 'sam', 2]

In [52]:
lstsamp[::-1]

[2, 'sam', 'a', 2, 1]

In [53]:
lstsamp[:3:1]

[1, 2, 'a']

In [57]:
lstsamp.index(1)

0

## Array - Indexing

In [58]:
arrsamp

array('i', [1, 2, 3, 4])

In [59]:
arrsamp[-1]

4

In [62]:
a1 = arrsamp[::-1]
for x in a1: print(x)

4
3
2
1

In [61]:
arrsamp[1:3:1]

array('i', [2, 3])

## Tuple Indexing

In [63]:
tupsamp

(1, 2, 3, 4, 'py')

In [64]:
tupsamp[::-1]

('py', 4, 3, 2, 1)

In [66]:
tupsamp.index('py')

4

In [67]:
tupsamp[1:3:1]

(2, 3)

### When we try to perform indexing on Sets we get TypeError - 'set' object isn't subscriptable
### Since 'set' is non- sequential data type

## Dictionary - Indexing
### Values are Indexed by Keys & they aren't held in any particular order

In [68]:
dictsamp

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4}

In [70]:
dictsamp[2]

'second'

In [72]:
dictsamp['fourth']    # Value corresponding to Key 'fourth' is 4 & Key 2 is 'second'

4

## Range - Indexing

In [74]:
rangsamp

range(1, 12, 2)

In [75]:
rangsamp[:]

range(1, 13, 2)

In [77]:
rangsamp.index(1)

0

In [79]:
rangsamp.index(11)

5

In [80]:
rangsamp[1]

3

In [83]:
r1 = rangsamp[1:6]
for x in r1: print(x)

3
5
7
9
11

In [84]:
r2 = rangsamp[: :-1]
for x in r2: print(x)

11
9
7
5
3
1

#### Elements can be fetched using the Index in square bracket 
#### How to get the index for a particular element using the .index() method

### SLICING - Applicable for Data Types supporting sequence protocols
### slice(start,stop,step) - Slicing stops at (n-1)

In [85]:
strsamp

'learning'

In [86]:
strsamp[slice(1,4,2)]

'er'

In [87]:
strsamp[1:4:2]

'er'

In [88]:
strsamp[:]

'learning'

In [89]:
strsamp[::-1]

'gninrael'

In [90]:
lstsamp

[1, 2, 'a', 'sam', 2]

In [91]:
lstsamp[slice(1,4,2)]

[2, 'sam']

In [92]:
lstsamp[::-1]

[2, 'sam', 'a', 2, 1]

In [93]:
tupsamp[slice(1,4,2)]

(2, 4)

In [94]:
tupsamp[::-1]

('py', 4, 3, 2, 1)

In [95]:
arrsamp[slice(1,4,2)]

array('i', [2, 4])

In [96]:
arrsamp[::-1]

array('i', [4, 3, 2, 1])

### Slicing function won't be applicable for dictionaries and sets. This gives TypeError

In [97]:
rangsamp[slice(1,4,2)]

range(3, 9, 4)

In [100]:
rangsamp[::-1]

range(11, -1, -2)

In [101]:
r2 = rangsamp[::-1]
for i in r2: print(i)

11
9
7
5
3
1

In [102]:
r3 = rangsamp[slice(1,4,2)]
for i in r3: print(i)

3
7

### Concatenation

In [103]:
strsamp

'learning'

In [107]:
print(strsamp + " "+ "python"+ " " + "in IISc")

learning python in IISc

In [108]:
strsamp

'learning'

In [111]:
strsamp1 = strsamp + " "+ "python"+ " " + "in IISc"

In [112]:
print(strsamp1)

learning python in IISc

In [113]:
lstsamp

[1, 2, 'a', 'sam', 2]

In [114]:
lstsamp + ['py']

[1, 2, 'a', 'sam', 2, 'py']

In [115]:
arrsamp

array('i', [1, 2, 3, 4])

### TypeError: can only append array (not "list") to array

In [119]:
arrsamp2 = array('i',[5,6,7,8])

In [121]:
arr1 = arrsamp + arrsamp2
for x in arr1: print(x)

1
2
3
4
5
6
7
8

In [123]:
arr2 = arr1[::-1]
for x in arr2: print(x)

8
7
6
5
4
3
2
1

In [124]:
tupsamp

(1, 2, 3, 4, 'py')

In [125]:
tupsamp1

(3, 4, 5, 'python')

In [127]:
tupsamp += ('th','on')

In [128]:
tupsamp

(1, 2, 3, 4, 'py', 'th', 'on')

In [129]:
setsamp

{24, 87.5, 'data', 'example'}

In [136]:
setsamp = setsamp,24  # Every time the operation is run - Element '24' gets added

In [138]:
setsamp       # Operation has been run thrice

((({24, 87.5, 'data', 'example'}, 24), 24), 24)

### Multiplication

In [140]:
strsamp *= 3
print(strsamp)

learninglearninglearninglearninglearninglearninglearninglearninglearning

In [141]:
strsamp

'learninglearninglearninglearninglearninglearninglearninglearninglearning'

In [142]:
lstsamp

[1, 2, 'a', 'sam', 2]

In [143]:
lstsamp*2

[1, 2, 'a', 'sam', 2, 1, 2, 'a', 'sam', 2]

In [144]:
lstsamp

[1, 2, 'a', 'sam', 2]

In [145]:
lstsamp[1]

2

In [147]:
lstsamp[1]*= 2

In [148]:
lstsamp

[1, 4, 'a', 'sam', 2]

In [149]:
lstsamp[:] *=2

In [150]:
lstsamp

[1, 4, 'a', 'sam', 2, 1, 4, 'a', 'sam', 2]

In [151]:
tupsamp

(1, 2, 3, 4, 'py', 'th', 'on')

In [152]:
tupsamp*2

(1, 2, 3, 4, 'py', 'th', 'on', 1, 2, 3, 4, 'py', 'th', 'on')

In [154]:
setsamp*2

((({24, 87.5, 'data', 'example'}, 24), 24),
 24,
 (({24, 87.5, 'data', 'example'}, 24), 24),
 24)

In [157]:
tupsamp

(1, 2, 3, 4, 'py', 'th', 'on')

In [159]:
tupsamp[2:4]*2

(3, 4, 3, 4)

In [160]:
arrsamp

array('i', [1, 2, 3, 4])

In [161]:
arrsamp*2

array('i', [1, 2, 3, 4, 1, 2, 3, 4])

### For Range - TypeError: unsupported operand type(s) for *: 'range' and 'int'

### For Disctionary - TypeError: unsupported operand type(s) for *: 'dict' and 'int'

### Python methods are like functions however they need to called on objects

### String Methods

In [2]:
str1 = "learning is fun"

In [3]:
str1.capitalize()      # All of the methods return new values however they don't change original string

'Learning is fun'

In [4]:
str1

'learning is fun'

In [6]:
str1.title()

'Learning Is Fun'

In [7]:
str1.swapcase()

'LEARNING IS FUN'

In [8]:
str1.find('n')

4

In [9]:
str1.replace('fun','joyful')

'learning is joyful'

In [10]:
str1

'learning is fun'

In [11]:
str1.isalnum()

False

In [12]:
str2 = '1234'

In [13]:
str2.isalnum()

True

### String Formatting

In [14]:
n1 = 'GITAA '
n2 = 'Pvt'
n3 = 'Ltd'

In [15]:
name = '{} {}.{}.'.format(n1,n2,n3) # Curly braces{} are the placeholders and n1,n2,n3 are the parameters

In [16]:
name

'GITAA  Pvt.Ltd.'

### Functions associated with a variable

In [18]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [19]:
print(help(str))      # Functions that can be performed on a given data type

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

None

In [20]:
print(help(str.find))     # Look for specific function that could be applied on String

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

None

In [21]:
type(name)

str

In [23]:
name.find('n')

-1

In [29]:
print(name)
print(name.find('A'))

GITAA  Pvt.Ltd.
3

### Object Initializations

In [32]:
strsamp1 = "learning is joyful"

In [34]:
lstsamp =[1,2,'a','sam',2]

In [35]:
from array import *
arr12 = array('i',[1,2,3,4])

In [36]:
tup12 = (1,2,3,4,3,'py')

In [37]:
dict1 = {1:'first',2:'second','third':3,'fourth':4}

In [38]:
set12 = {'example',24,87.5,'data',24,'data'}

In [39]:
rang12 = range(1,12,2)

### Length of an Object

In [40]:
print("No. of elements in the object :")
print("str ={}, lst ={} ,array ={}, tup ={}, dict ={}, set ={} ,range ={}".format(len(strsamp1),len(lstsamp),\
                                                                                 len(arr12),len(tup12),len(dict1),\
                                                                                 len(set12 ),len(rang12)))

No. of elements in the object :
str =18, lst =5 ,array =4, tup =6, dict =4, set =4 ,range =6

In [51]:
lstsamp.reverse()            # Reverses order of elements in list with .reverse()
print(lstsamp)

[2, 'sam', 'a', 2, 1]

In [52]:
lstsamp

[2, 'sam', 'a', 2, 1]

In [53]:
lstsamp[::-1]        # Reversing the order of elements of list with Slicing

[1, 2, 'a', 'sam', 2]

### clear() method removes all items from the object
### Applicable on Lists, Dictionary and Sets

In [68]:
lstsamp.clear()
print(lstsamp)

[]

In [55]:
dict1.clear()
print(dict1)

{}

In [56]:
set12.clear()
print(set12)

set()

### append() - Adds element at the end of the object (array,list,set)
### Takes only one argument

In [69]:
lstsamp =[1,2,'a','sam',2]

In [59]:
set12 = {'example',24,87.5,'data',24,'data'}

In [75]:
set12

{24, 87.5, 'data', 'example'}

In [60]:
arr12

array('i', [1, 2, 3, 4])

In [70]:
lstsamp.append(42)

In [71]:
lstsamp

[1, 2, 'a', 'sam', 2, 42]

In [73]:
lstsamp.append(['py','th'])

In [74]:
lstsamp

[1, 2, 'a', 'sam', 2, 42, ['py', 'th']]

### AttributeError: 'set' object has no attribute 'append'

In [76]:
set12.add(42)

In [77]:
set12

{24, 42, 87.5, 'data', 'example'}

In [79]:
arr12.append(42)

In [80]:
for x in arr12: print(x)

1
2
3
4
42

### update() - In sets adds elements from a set to the set. Takes single argument. Adds multiple values
### single argument could be - set,list,dictionary or tuples
### converts into set and adds to set

In [81]:
set12

{24, 42, 87.5, 'data', 'example'}

In [82]:
set12.update(['py','th'])
print(set12)

{'py', 42, 'example', 'data', 87.5, 24, 'th'}

In [83]:
set12.update(('python',12,23))

In [84]:
set12

{12, 23, 24, 42, 87.5, 'data', 'example', 'py', 'python', 'th'}

In [89]:
set12.update({1:'first',2:'second'})       ## Dictionary keys are added to the set

In [90]:
set12

{1,
 12,
 2,
 23,
 24,
 42,
 87.5,
 'data',
 'example',
 'fourth',
 'py',
 'python',
 'th',
 'third'}

In [91]:
set12.update({'third':3,'fourth':4})

In [92]:
set12

{1,
 12,
 2,
 23,
 24,
 42,
 87.5,
 'data',
 'example',
 'fourth',
 'py',
 'python',
 'th',
 'third'}

### Dictionary Methods - Holds non-sequential data

In [94]:
dict1 = {1:'first',2:'second','third':3,'fourth':4}

In [95]:
dict1["five"] =5

In [96]:
dict1

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4, 'five': 5}

In [99]:
dict1.update(six=6)

In [100]:
dict1

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4, 'five': 5, 'six': 6}

In [102]:
list(dict1)              # Gives the Keys

[1, 2, 'third', 'fourth', 'five', 'six']

In [103]:
len(dict1)

6

In [104]:
dict1.get('five')         # Returns the value associated with the key

5

In [106]:
dict1

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4, 'five': 5, 'six': 6}

In [107]:
dict1.keys()       # Returns the Keys in the form of a list

dict_keys([1, 2, 'third', 'fourth', 'five', 'six'])

In [109]:
dict1.items()        # Returns the Key value pair in the form of a tuple

dict_items([(1, 'first'), (2, 'second'), ('third', 3), ('fourth', 4), ('five', 5), ('six', 6)])

### insert() - inserts element at a specified index of an object [Array and Lists]

In [110]:
print(arr12)

array('i', [1, 2, 3, 4, 42])

In [111]:
arr12.insert(1,100)      # Inserts 100 in 2nd Position [Between 1 and 2]
print(arr12)

array('i', [1, 100, 2, 3, 4, 42])

In [112]:
lstsamp

[1, 2, 'a', 'sam', 2, 42, ['py', 'th']]

In [114]:
lstsamp.insert(5,24)          # Inserts 25 in 5th Position [Between 2 and 42]. 
                              # 24 was inserted twice since the operation was repeated
print(lstsamp) # 1st Time 24 was inserted between 2 & 42 and then 24 was inserted again between 2 & 24

[1, 2, 'a', 'sam', 2, 24, 24, 42, ['py', 'th']]

### pop() - removes element at a given index [array,list,set,dictionary]
### Without index being mentioned pop() removes the last element

In [115]:
lstsamp

[1, 2, 'a', 'sam', 2, 24, 24, 42, ['py', 'th']]

In [116]:
lstsamp.pop(4)               # 2 is removed from 4th position
lstsamp

[1, 2, 'a', 'sam', 24, 24, 42, ['py', 'th']]

In [118]:
dict1

{1: 'first', 2: 'second', 'third': 3, 'fourth': 4, 'five': 5, 'six': 6}

In [120]:
dict1.pop('fourth')          # The key name needs to be passed
dict1

{1: 'first', 2: 'second', 'third': 3, 'five': 5, 'six': 6}

In [121]:
lstsamp

[1, 2, 'a', 'sam', 24, 24, 42, ['py', 'th']]

In [122]:
lstsamp.pop()               # Last element ['py', 'th'] is being removed
lstsamp

[1, 2, 'a', 'sam', 24, 24, 42]

### Set is unordered array hence pop isn't applicable
### remove() - removes the first occurrence of a element [array,list,dictionary,set]

In [123]:
arr12

array('i', [1, 100, 2, 3, 4, 42])

In [124]:
arr12.pop()        # Removes last element 42

42

In [125]:
arr12

array('i', [1, 100, 2, 3, 4])

In [128]:
arr12.insert(5,64)     # Adds 64 in 5th Position

In [129]:
arr12

array('i', [1, 100, 2, 3, 4, 64])

In [130]:
arr12.remove(2)
arr12

array('i', [1, 100, 3, 4, 64])

In [131]:
lstsamp

[1, 2, 'a', 'sam', 24, 24, 42]

In [132]:
lstsamp.remove(24)
lstsamp

[1, 2, 'a', 'sam', 24, 42]

In [133]:
set12

{1,
 12,
 2,
 23,
 24,
 42,
 87.5,
 'data',
 'example',
 'fourth',
 'py',
 'python',
 'th',
 'third'}

In [134]:
set12.remove('third')

In [135]:
set12

{1, 12, 2, 23, 24, 42, 87.5, 'data', 'example', 'fourth', 'py', 'python', 'th'}

In [136]:
len(set12)

13

In [139]:
set12.discard('th')
print(set12)
len(set12)

{1, 2, 'py', 'python', 42, 'example', 12, 'data', 23, 'fourth', 87.5, 24}

12

### del() - Deletes entire object of any data type

In [140]:
lstsamp

[1, 2, 'a', 'sam', 24, 42]

In [141]:
del lstsamp[1:3]          # 2nd and 3rd element gets deleted

In [142]:
lstsamp

[1, 'sam', 24, 42]

In [143]:
dict1

{1: 'first', 2: 'second', 'third': 3, 'five': 5, 'six': 6}

In [145]:
del dict1

In [147]:
## NameError: name 'dict1' is not defined

In [148]:
dict1 = {1: 'first', 2: 'second', 'third': 3, 'five': 5, 'six': 6}

### extend() - Adds specified list of elements (list,set,tuple etc.) to the end of the current list

In [151]:
arr12

array('i', [1, 100, 3, 4, 64])

In [152]:
arr12.extend((4,5,3,5))

In [153]:
arr12

array('i', [1, 100, 3, 4, 64, 4, 5, 3, 5])

In [154]:
arr12.tolist()               # Converts array to simple list

[1, 100, 3, 4, 64, 4, 5, 3, 5]

In [156]:
lstsamp

[1, 'sam', 24, 42]

In [157]:
lstsamp.extend((4,5,3,5))

In [158]:
lstsamp

[1, 'sam', 24, 42, 4, 5, 3, 5]

In [159]:
tup12

(1, 2, 3, 4, 3, 'py')

In [161]:
arr12

array('i', [1, 100, 3, 4, 64, 4, 5, 3, 5])

In [162]:
arr12.extend([7,8])

In [163]:
arr12

array('i', [1, 100, 3, 4, 64, 4, 5, 3, 5, 7, 8])

In [164]:
arr12.fromlist([9,10])

In [165]:
arr12

array('i', [1, 100, 3, 4, 64, 4, 5, 3, 5, 7, 8, 9, 10])

In [166]:
arr12.tolist()

[1, 100, 3, 4, 64, 4, 5, 3, 5, 7, 8, 9, 10]

In [167]:
len(arr12)

13

In [168]:
arr12

array('i', [1, 100, 3, 4, 64, 4, 5, 3, 5, 7, 8, 9, 10])

### Set Operations

In [169]:
set12

{1, 12, 2, 23, 24, 42, 87.5, 'data', 'example', 'fourth', 'py', 'python'}

In [173]:
set13 ={1, 12, 2, 23, 24, 42, 90}

In [174]:
set13

{1, 2, 12, 23, 24, 42, 90}

In [175]:
set12|set13

{1, 12, 2, 23, 24, 42, 87.5, 90, 'data', 'example', 'fourth', 'py', 'python'}

In [176]:
set12.union(set13)

{1, 12, 2, 23, 24, 42, 87.5, 90, 'data', 'example', 'fourth', 'py', 'python'}

In [177]:
set12&set13

{1, 2, 12, 23, 24, 42}

In [178]:
set13&set12

{1, 2, 12, 23, 24, 42}

In [179]:
set12.intersection(set13)

{1, 2, 12, 23, 24, 42}